
@font-face {
    font-family:'blackbeardregular';
    src: url('typos/blackbeard_regular-webfont.woff2') format('woff2'),
         url('typos/blackbeard_regular-webfont.woff') format('woff'),
         url('typos/BlackBeard Regular.otf');
    font-weight: normal;
    font-style: normal;
}


body {
    background-image:url("./background/background-paper.jpeg");
    background-size: 100%;
    padding: 1rem 1rem;
    line-height: 1;
    font-family:'blackbeardregular';
    font-size: 3vmin;
}


.path{
display: flex; 
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-weight: normal;
    font-family:'blackbeardregular';
    color: #20201f;
}

.icones {
    width: 7rem;
    padding: 2rem;
}



.one {
    text-align: center;
    max-width: 45%;
    padding-top: 0px;

}


.button {
    border: none;
    background: none;
    padding-top:3rem ;
  }


  .tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: relative;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


